<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a href="/" class="navbar-brand">Fore Cast</a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="" class="nav-link active">Cities</a>
        </li>
        <li class="nav-item">
          <a routerLink="/form" class="nav-link">Forms</a>
        </li>
        <li class="nav-item">
          <a routerLink="/users" class="nav-link">Users</a>
        </li>
      </ul>
    </div>
  </nav>
  