<div class="content">
    <h1 style="text-align: center;">User Editor</h1>
    <form [formGroup]="userForm" style="margin: 30px; border-style: outset;">
        <div class="form-container">
            <div>
                Name
                <input type="text" name="name" class="form-control" formControlName="name" placeholder="required">
            </div>
            <div>
                Last Name
                <input class="form-control" formControlName="lastname" placeholder="required">
            </div>
            <div>
                Birthday
                <input class="form-control" type="date" formControlName="birthday">
            </div>
            <div style="width: 100px;">
                Gender
                <mat-select disableRipple formControlName="gender">
                    <mat-option *ngFor="let gender of genders" value="{{ gender.key }}" value="1">{{ gender.value }}
                    </mat-option>
                </mat-select>
            </div>
            <div formArrayName="phone" *ngFor="let pho of phone.controls; let i=index" class="grouping">
                Phone
                <input class="form-control" [formControlName]="i" type="text" placeholder="required">

                <button mat-mini-fab color="primary" (click)="removePhone(i)" id="remove_phone"
                    aria-label="Example icon button with a plus one icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button style="margin: 10px;" mat-mini-fab color="primary" (click)="addPhone()"
                    aria-label="Example icon button with a plus one icon">
                    <mat-icon>plus_one</mat-icon>
                </button>

            </div>
            <div>
                E-mail
                <input class="form-control" name="email" formControlName="email" type="text" placeholder="optional">
            </div>
            <div>
                <button style="margin: 10px;" mat-raised-button color="primary" (click)="save()">Submit</button>
            </div>
        </div>
    </form>
</div>